*{
    margin: 10px;
    padding: 10px;
    font-family: "Diplomata", serif;
    background-color: brown;
}

.diplomata-regular {
  font-family: "Diplomata", serif;
  font-weight: 40;
  font-style: normal;
}

